<!DOCTYPE html>
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">
		<title>ITSI Force Graph</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'concise.min.css' %}" />
		<link rel="stylesheet" type="text/css"	href="{% static 'helper.css' %}" />
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"/>
    </head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"> </script>
	<script type='text/javascript' src="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> </script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="{% static 'concise.min.js' %}"></script>
	
	<header class="siteHeader">
	  <div class="container">
		<div class="logo">
		  <a href="{% url 'home' %}">
			<img src="{% static 'images/logo.png' %}" alt="Logo" />
		  </a>
		</div>

		{% include 'navbar.html' %}
	  </div>
	</header>


	 <div class="masthead">
	  <div class="container">
		<h1 class="masthead-title">Post-event</h1>
		<h2 class="masthead-subtitle">Force directed graph with interactions between participants</h2>
	  </div>
	</div>
	
	{% include 'post_event.html' %}
	
	<div class="content" style="background-color:white; padding-top: 10px;">
		<div class="container ui-widget">
		   <input id="search">
			<button type="button" onclick="searchNode()">Search</button>
		</div>
	</div>
	
	<script>
	//Show full size details
	var w = window,
		d = document,
		e = d.documentElement,
		g = d.getElementsByTagName('body')[0],
		x = w.innerWidth || e.clientWidth || g.clientWidth,
		y = w.innerHeight|| e.clientHeight|| g.clientHeight;
		
	var width = x - 50,
		height = y - 70;
		
	var color = d3.scale.category20();

	var force = d3.layout.force()
		.nodes(node)
		.links(link)
		.charge(-150)
		.linkDistance(function(d){ return 1000/Math.sqrt(d.value); })
		.size([width, height]);

	var svg = d3.select(".content").append("svg")
            .attr("viewBox", "0 0 " + width + " " + height )
            .attr("preserveAspectRatio", "xMidYMid meet");
			
	svg.append("rect")
		.attr("width", "100%")
		.attr("height", "100%")
		.attr("fill", "white");

	var graph = JSON.parse('{{ results | safe }}')
		
	force
	  .nodes(graph.nodes)
	  .links(graph.links)
	  .start();

	var link = svg.selectAll(".link")
	  .data(graph.links)
	.enter().append("line")
	  .attr("class", "link")
	  .style("stroke-width", function(d) { return 0.6*Math.sqrt(Math.sqrt(d.value)); })
		.attr("x1", function(d) { return d.source.x; })
		.attr("y1", function(d) { return d.source.y; })
		.attr("x2", function(d) { return d.target.x; })
		.attr("y2", function(d) { return d.target.y; });
		
	var node = svg.selectAll(".node")
		.data(graph.nodes)
		.enter().append("circle")
		.attr("class", "node")
		.attr("r", 5)
		.style("fill", function(d) { return d.color; })
		.call(force.drag)
		.attr("cx", function(d) { return d.x; })
		.attr("cy", function(d) { return d.y; });

	node.append("title")
	  .text(function(d) { return d.name; });
	  
	force.on("tick", function() {
	link.attr("x1", function(d) { return d.source.x; })
		.attr("y1", function(d) { return d.source.y; })
		.attr("x2", function(d) { return d.target.x; })
		.attr("y2", function(d) { return d.target.y; });
		
	node.attr("cx", function(d) { return d.x; })
		.attr("cy", function(d) { return d.y; });
	});
	
	var optArray = [];
	for (var i = 0; i < graph.nodes.length - 1; i++) {
		 optArray.push(graph.nodes[i].name);
	 }
	 
	 optArray = optArray.sort();
	 
	 $(function () {
		 $("#search").autocomplete({
			 source: optArray
		 });
	 });
	 
	 
	 function searchNode() {
	 
		 //find the node
		 var selectedVal = document.getElementById('search').value;
		 var node = svg.selectAll(".node");
	 
		 if (selectedVal == "none") {
			 node.style("stroke", "white").style("stroke-width", "1");
		 } else {
			 var selected = node.filter(function (d, i) {
				 return d.name != selectedVal;
			 });
			 selected.style("opacity", "0.1");
			 var link = svg.selectAll(".link")
			 link.style("opacity", "0");
			 d3.selectAll(".node, .link").transition()
				 .duration(5000)
				 .style("opacity", 1);
	 
		 }
	 }

	</script>
	
	{% include 'footer.html' %}
</body>
</html>